.card {
    width: 100px;
    display: inline;
}

.area {
    height: 139.583px;
}

.discard {
    position: absolute;
}

.deck-area {
    background-color: aqua;
}

.hand-area {
    background-color: brown;
}